.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.counter {
  display: block;
}

.counter button {
  background-color: #37474F;
  border: 2px solid #AAA;
  font-size: 2rem;
  border-radius: 8%;
  color: #CCC;
  width: 100px;
  height: 70px;
  margin: 50px 20px;
  cursor: pointer;
}

.counter button:hover {
  background-color: #BBB;
  color: #000;
}

.modal {
  width: 450px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* by https://bruno.art.br */
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 5px 30px 0 rgba( 255, 255, 255, .1 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 7px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

