.App {
  color: #CCC;
  font-size: 17px;
}

header.header .logo {
  font-size: 1.5em;
  font-weight: 700;
}

header.header {
  height: 70px;
  width: 100vw;
  background-color: #222;
  display: flex;
  align-items: center;
  grid-area: header;
}

aside.projects-list {
  grid-area: aside;
  position: relative;
}

section.content {
  grid-area: content;
}

.menu-projects-area {
  background-color: #222E;
  min-height: calc(100vh - 70px);
  position: relative;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project {
  height: 4em;
  text-align: center;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project:hover {
  cursor: pointer;
}

.container {
  min-height: calc(100vh - 70px);
}

main {
  display: grid;
  grid-template-areas:
    "header header"
    "aside content"
  ;

  grid-template-columns: 15% 85%;
}

section.content {
  color: #000;
  margin: 0 30px 0 30px;
}

